[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PsiUEngineRL"]
	path = PsiUEngineRL
	url = https://github.com/cran/PsiUEngineRL
